{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": 'usage'
      }
    ],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    [
      "transform-class-properties",
    ]
  ]
}
